@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::root {
    --main-color: #363737;
    --Quicksand: 'Quicksand', sans-serif;
    --roboto: 'Roboto', sans-serif;
    --montserrat: 'Montserrat', sans-serif;
    --font-size: 20px;
    --playfair: "Playfair", serif;
    --bgc: #ffffff;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("imgs/banner-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

nav {
    background-color: #363737;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    height: 100vh;
}

.nav-left a {
    font-size: 32px;
    font-weight: 400;
    color: #ffffff;
    margin: 10px 0px 10px 200px;
    text-decoration: none;
    font-family: var(--playfair);
}

.nav-right ul li {
    list-style: none;
    color: white;
    float: right;
    margin: 10px 50px 0px 0px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: var(--roboto);
}

.nav-right ul li:hover {
    color: rgb(184, 184, 184);
    transition: 1s;
}

.banner-title {
    display: flex;
    font-size: 45px;
    justify-content: center;
    font-family: var(--playfair);
    margin-top: 165px;
}

.whitetext {
    color: #ffffff;
}

.paragraph p {
    font-size: var(--font-size);
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    text-align: center;
}

.inp input {
    width: 450px;
    height: 55px;
    border: none;
    outline: none;
    border-radius: 30px;
    padding: 5px 5px 5px 20px;
    margin-top: 25px;
    margin-left: 730px;
    font-size: 16px;
    font-family: var(--roboto);
}

.inp input::placeholder {
    font-size: 18px;
    font-weight: 450;
    font-family: var(--roboto);
}

.inp svg {
    position: relative;
    top: 5px;
    right: 42px;

}

section {
    height: 410vh;
    width: 100vw;
    background-color: #fff;
}

.texts h2 {
    font-size: 45px;
    font-family: "Playfair", serif;
    text-align: center;
    color: rgb(78, 72, 72);
}

.texts h5 {
    font-size: 35px;
    font-family: var(--roboto);
    text-align: center;
    color: rgb(78, 72, 72);
    margin-top: 360px;
}

.texts h4 {
    font-size: 15px;
    font-family: var(--roboto);
    font-weight: 450;
    text-align: center;
    color: rgb(78, 72, 72);
    margin-top: 15px;
}

.texts span {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-weight: 350;
    font-family: var(--roboto);
}

/* cards */
.card-box {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
    background-color: var(--bgc);
    margin-top: 50px;
}

.card-1 {
    width: 500px;
    height: 350px;
    margin-left: 120px;
    margin-bottom: 150px;
}

.scale-down-center:hover {
    animation: scale-down-center 0.4s cubic-bezier(.25, .46, .45, .94) both
}

/* ----------------------------------------------
 * Generated by Animista on 2025-4-18 8:22:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/* ----------------------------------------------
 * Generated by Animista on 2025-4-18 8:30:28
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes scale-down-center {
    0% {
        transform: scale(1)
    }

    100% {
        transform: scale(.5)
    }
}

.card-text h3 {
    font-size: 20px;
    font-family: var(--roboto);
    color: rgb(255, 255, 255);
    position: relative;
    top: -40px;
    left: 270px;
    z-index: 1;
}

.card-text-2 h3 {
    font-size: 20px;
    font-family: var(--roboto);
    color: rgb(255, 255, 255);
    position: relative;
    top: -40px;
    z-index: 1;
    left: 270px;
}

.card-text-3 h3 {
    font-size: 20px;
    font-family: var(--roboto);
    color: rgb(255, 255, 255);
    position: relative;
    top: -40px;
    z-index: 1;
    left: 270px;
}

.card-text-4 h3 {
    font-size: 20px;
    font-family: var(--roboto);
    color: rgb(255, 255, 255);
    position: relative;
    top: -40px;
    z-index: 1;
    left: 270px;
}

.card-text-5 h3 {
    font-size: 20px;
    font-family: var(--roboto);
    color: rgb(255, 255, 255);
    position: relative;
    top: -40px;
    left: 270px;
    z-index: 1;
}

.card-text-6 h3 {
    font-size: 20px;
    font-family: var(--roboto);
    color: rgb(255, 255, 255);
    position: relative;
    top: -40px;
    left: 270px;
}

.card-text p {
    font-size: 19px;
    font-weight: 300;
    font-family: var(--roboto);
    color: rgb(54, 48, 48);
    margin-top: 10px;
    text-align: center;
}

.card-text-2 p {
    font-size: 19px;
    font-weight: 300;
    font-family: var(--roboto);
    color: rgb(54, 48, 48);
    margin-top: 10px;
    text-align: center;
}

.card-text-3 p {
    font-size: 19px;
    font-weight: 300;
    font-family: var(--roboto);
    color: rgb(54, 48, 48);
    margin-top: 10px;
    text-align: center;
}

.card-text-4 p {
    font-size: 19px;
    font-weight: 300;
    font-family: var(--roboto);
    color: rgb(54, 48, 48);
    margin-top: 10px;
    text-align: center;
}

.card-text-5 p {
    font-size: 19px;
    font-weight: 300;
    font-family: var(--roboto);
    color: rgb(54, 48, 48);
    margin-top: 10px;
    text-align: center;
}

.card-text-6 p {
    font-size: 19px;
    font-weight: 300;
    font-family: var(--roboto);
    color: rgb(54, 48, 48);
    margin-top: 10px;
    text-align: center;
}

.card-img img {
    width: 400px;
    height: 390px;
    filter: brightness(0.6);
    object-fit: cover;
    transition: transform 0.35s ease;
}

.card-img {
    overflow: hidden;
    position: relative;
    width: 400px;
    height: 390px;
}


.like {
    position: relative;
    top: -430px;
    border: none;
    width: 50px;
    height: 25px;
    background-color: #2a2a2a;
    left: 10px;
    color: #252222;
    font-size: 20px;
    cursor: pointer;
}

.like-1 {
    position: relative;
    top: -430px;
    border: none;
    z-index: 1;
    width: 50px;
    height: 25px;
    background-color: #2a2a2a;
    left: 10px;
    color: #252222;
    font-size: 20px;
    cursor: pointer;
}

.like-2 {
    position: relative;
    top: -430px;
    border: none;
    width: 50px;
    height: 25px;
    background-color: #2a2a2a;
    left: 12px;
    z-index: 1;
    color: #252222;
    font-size: 20px;
    cursor: pointer;
}

.like-3 {
    position: relative;
    top: -430px;
    border: none;
    width: 50px;
    height: 25px;
    background-color: #272323;
    left: 10px;
    z-index: 1;
    color: #2a2a2a;
    font-size: 20px;
    cursor: pointer;
}

.like-4 {
    position: relative;
    top: -430px;
    border: none;
    width: 50px;
    height: 25px;
    background-color: #272323;
    left: 10px;
    z-index: 1;
    color: #2a2a2a;
    font-size: 20px;
    cursor: pointer;
}

.like-5 {
    position: relative;
    top: -430px;
    border: none;
    width: 50px;
    height: 25px;
    background-color: #272323;
    left: 10px;
    z-index: 1;
    color: #2a2a2a;
    font-size: 20px;
    cursor: pointer;
}

.like-1 svg {
    position: absolute;
    top: 4px;
    color: #ffffff;
    left: 4px;
}

.like-2 svg {
    position: absolute;
    top: 4px;
    color: #ffffff;
    left: 4px;
}

.like-3 svg {
    position: absolute;
    top: 4px;
    color: #ffffff;
    left: 4px;
}

.like-4 svg {
    position: absolute;
    top: 4px;
    color: #ffffff;
    left: 4px;
}

.like-5 svg {
    position: absolute;
    top: 4px;
    color: #ffffff;
    left: 4px;
}

.like svg {
    position: absolute;
    top: 4px;
    color: #ffffff;
    left: 4px;
}

.img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color: #fff;
    width: 100%;
    height: 1700px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.img-box .img img {
    width: 400px;
    margin-left: 110px;
}

.img-box .img span {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
    margin-left: 110px;
    font-weight: 330;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    color: rgb(78, 72, 72);
}

.img-box .img h2 {
    font-size: 30px;
    font-family: "Playfair", serif;
    font-weight: 400;
    color: rgb(31, 28, 28);
    margin-left: 110px;
    line-height: 28px;
}

.img-box .img p {
    font-size: 17px;
    font-family: "Playfair", serif;
    color: rgb(112, 96, 96);
    margin-left: 110px;
    margin-top: 10px;
    font-weight: 800;
}

.img-box .img button {
    border: none;
    width: 145px;
    height: 50px;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-left: 110px;
    margin-top: 10px;
    background-color: black;
}

.img-box .img button:hover {
    background-color: #e9e3e3;
    color: black;
    transition: 1s ease-in-out;
    font-weight: 900;
    border-radius: 10px;
}

.like-button {
    background-color: #302a2a;
    border: none;
    z-index: 1;
    color: #ffffff;
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.like-button1 {
    position: relative;
    top: -250px;
    left: -180px;
    z-index: 1;
}

.like-button2 {
    position: relative;
    top: -250px;
    left: -185px;
}

.like-button3 {
    position: relative;
    top: -250px;
    left: -185px;
}

.like-button4 {
    position: relative;
    top: -1100px;
    left: 460px;
}

.like-button5 {
    position: relative;
    top: -1100px;
    left: 460px;
}

.like-button6 {
    position: relative;
    top: -1100px;
    left: 460px;
}